.input-name {
  float: left;
}

.card {
  margin-bottom: 3vh;
}

.card-title {
  font-size: 1rem;
}

/* .img-container {
  height: 0;
  padding-bottom: 200%;
}

.img-container img {
  height: 100%;
} */

#search-container {
  margin-top: 7vh;
  margin-bottom: 7vh;
  text-align: center;
}

#search-container h1 {
  margin-bottom: 4vh;
}

#movies-container {
  text-align: center;
}